In [115]:
# Import packages and load data
import pandas as pd
import glob
import re

In [125]:
# Import data into dataframe
files = glob.glob("../data/raw" + "/*.csv")
frame = pd.concat([pd.read_csv(filename, index_col=None, header=0) for filename in files], axis=0, ignore_index=True)
frame

,unix,date,symbol,open,high,low,close,Volume BTT,Volume USDT,tradecount,...,Volume NEO,Volume EOS,Volume ETH,Volume QTUM,Volume ZEC,Volume DASH,Volume ADA,Volume LINK,Volume BNB,Volume LTC
0,1.610496e+12,2021-01-13 00:00:00,BTT/USDT,0.000353,0.000353,0.000350,0.000352,2.451996e+07,8.631707e+03,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.610410e+12,2021-01-12 00:00:00,BTT/USDT,0.000351,0.000374,0.000338,0.000353,8.455808e+09,3.011956e+06,20031.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.610323e+12,2021-01-11 00:00:00,BTT/USDT,0.000429,0.000433,0.000316,0.000350,1.139497e+10,4.024436e+06,25602.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.610237e+12,2021-01-10 00:00:00,BTT/USDT,0.000409,0.000455,0.000367,0.000429,1.744114e+10,7.137798e+06,41729.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.610150e+12,2021-01-09 00:00:00,BTT/USDT,0.000332,0.000535,0.000332,0.000409,5.561435e+10,2.381440e+07,105684.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16137,1.513555e+09,2017-12-18,LTC/USDT,311.400000,360.960000,277.000000,352.000000,NaN,5.392264e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17036.70
16138,1.513469e+09,2017-12-17,LTC/USDT,293.970000,328.800000,290.000000,311.400000,NaN,4.534011e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14413.88
16139,1.513382e+09,2017-12-16,LTC/USDT,294.000000,305.000000,285.000000,293.970000,NaN,2.613906e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8895.82
16140,1.513296e+09,2017-12-15,LTC/USDT,272.400000,314.210000,239.990000,294.000000,NaN,4.569740e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16244.13
16141,1.513210e+09,2017-12-14,LTC/USDT,290.010000,298.000000,252.000000,272.400000,NaN,1.531985e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5674.54

In [126]:
### Combine individual Asset Volume Columns ###
if not "volume_asset" in frame:
    frame["volume_asset"] = 0
    rexp = r'Volume\s(?!USDT)'
    for col in frame.columns:
        if re.search(rexp, col) is not None:
            new_col = pd.DataFrame({"volume_asset": frame[col]})
            frame.update(new_col)
            frame = frame.drop(columns=[col])
frame

,unix,date,symbol,open,high,low,close,Volume USDT,tradecount,volume_asset
0,1.610496e+12,2021-01-13 00:00:00,BTT/USDT,0.000353,0.000353,0.000350,0.000352,8.631707e+03,90.0,2.451996e+07
1,1.610410e+12,2021-01-12 00:00:00,BTT/USDT,0.000351,0.000374,0.000338,0.000353,3.011956e+06,20031.0,8.455808e+09
2,1.610323e+12,2021-01-11 00:00:00,BTT/USDT,0.000429,0.000433,0.000316,0.000350,4.024436e+06,25602.0,1.139497e+10
3,1.610237e+12,2021-01-10 00:00:00,BTT/USDT,0.000409,0.000455,0.000367,0.000429,7.137798e+06,41729.0,1.744114e+10
4,1.610150e+12,2021-01-09 00:00:00,BTT/USDT,0.000332,0.000535,0.000332,0.000409,2.381440e+07,105684.0,5.561435e+10
...,...,...,...,...,...,...,...,...,...,...
16137,1.513555e+09,2017-12-18,LTC/USDT,311.400000,360.960000,277.000000,352.000000,5.392264e+06,NaN,1.703670e+04
16138,1.513469e+09,2017-12-17,LTC/USDT,293.970000,328.800000,290.000000,311.400000,4.534011e+06,NaN,1.441388e+04
16139,1.513382e+09,2017-12-16,LTC/USDT,294.000000,305.000000,285.000000,293.970000,2.613906e+06,NaN,8.895820e+03
16140,1.513296e+09,2017-12-15,LTC/USDT,272.400000,314.210000,239.990000,294.000000,4.569740e+06,NaN,1.624413e+04
16141,1.513210e+09,2017-12-14,LTC/USDT,290.010000,298.000000,252.000000,272.400000,1.531985e+06,NaN,5.674540e+03

In [127]:
### General Cleaning ###
# Convert Date column
frame["date"] = pd.to_datetime(frame["date"])
# Calculate average trade price
frame["avg_trade"] = frame["volume_asset"] / frame["tradecount"]
# Extract Asset Symbol
frame["coin"] = [symbol.split("/")[0] for symbol in frame["symbol"]]
# Set base_coin
frame["base_coin"] = [symbol.split("/")[1] for symbol in frame["symbol"]]
# Drop un-needed values
frame = frame.drop(columns=["symbol", "unix"])
# Fix naming convention
frame = frame.rename(columns={"Volume USDT": "volume_usdt"})
frame

,date,open,high,low,close,volume_usdt,tradecount,volume_asset,avg_trade,coin,base_coin
0,2021-01-13,0.000353,0.000353,0.000350,0.000352,8.631707e+03,90.0,2.451996e+07,272444.022222,BTT,USDT
1,2021-01-12,0.000351,0.000374,0.000338,0.000353,3.011956e+06,20031.0,8.455808e+09,422136.113225,BTT,USDT
2,2021-01-11,0.000429,0.000433,0.000316,0.000350,4.024436e+06,25602.0,1.139497e+10,445081.251621,BTT,USDT
3,2021-01-10,0.000409,0.000455,0.000367,0.000429,7.137798e+06,41729.0,1.744114e+10,417962.006854,BTT,USDT
4,2021-01-09,0.000332,0.000535,0.000332,0.000409,2.381440e+07,105684.0,5.561435e+10,526232.435752,BTT,USDT
...,...,...,...,...,...,...,...,...,...,...,...
16137,2017-12-18,311.400000,360.960000,277.000000,352.000000,5.392264e+06,NaN,1.703670e+04,NaN,LTC,USDT
16138,2017-12-17,293.970000,328.800000,290.000000,311.400000,4.534011e+06,NaN,1.441388e+04,NaN,LTC,USDT
16139,2017-12-16,294.000000,305.000000,285.000000,293.970000,2.613906e+06,NaN,8.895820e+03,NaN,LTC,USDT
16140,2017-12-15,272.400000,314.210000,239.990000,294.000000,4.569740e+06,NaN,1.624413e+04,NaN,LTC,USDT
16141,2017-12-14,290.010000,298.000000,252.000000,272.400000,1.531985e+06,NaN,5.674540e+03,NaN,LTC,USDT

In [130]:
### Add Market Insight Columns ###
frame["delta_value"] = (frame["close"] - frame["open"]) / frame["open"]
frame["value_range"] = (frame["high"] - frame["low"])
frame

,date,open,high,low,close,volume_usdt,tradecount,volume_asset,avg_trade,coin,base_coin,delta_value,value_range
0,2021-01-13,0.000353,0.000353,0.000350,0.000352,8.631707e+03,90.0,2.451996e+07,272444.022222,BTT,USDT,-0.001134,0.000003
1,2021-01-12,0.000351,0.000374,0.000338,0.000353,3.011956e+06,20031.0,8.455808e+09,422136.113225,BTT,USDT,0.005990,0.000036
2,2021-01-11,0.000429,0.000433,0.000316,0.000350,4.024436e+06,25602.0,1.139497e+10,445081.251621,BTT,USDT,-0.185797,0.000117
3,2021-01-10,0.000409,0.000455,0.000367,0.000429,7.137798e+06,41729.0,1.744114e+10,417962.006854,BTT,USDT,0.047375,0.000088
4,2021-01-09,0.000332,0.000535,0.000332,0.000409,2.381440e+07,105684.0,5.561435e+10,526232.435752,BTT,USDT,0.234549,0.000203
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16137,2017-12-18,311.400000,360.960000,277.000000,352.000000,5.392264e+06,NaN,1.703670e+04,NaN,LTC,USDT,0.130379,83.960000
16138,2017-12-17,293.970000,328.800000,290.000000,311.400000,4.534011e+06,NaN,1.441388e+04,NaN,LTC,USDT,0.059292,38.800000
16139,2017-12-16,294.000000,305.000000,285.000000,293.970000,2.613906e+06,NaN,8.895820e+03,NaN,LTC,USDT,-0.000102,20.000000
16140,2017-12-15,272.400000,314.210000,239.990000,294.000000,4.569740e+06,NaN,1.624413e+04,NaN,LTC,USDT,0.079295,74.220000
16141,2017-12-14,290.010000,298.000000,252.000000,272.400000,1.531985e+06,NaN,5.674540e+03,NaN,LTC,USDT,-0.060722,46.000000