In [7]:
# Import packages and load data
import pandas as pd
import glob

files = glob.glob("../data/raw" + "/*.csv")

frame = pd.concat([pd.read_csv(filename, index_col=None, header=0) for filename in files], axis=0, ignore_index=True)

In [9]:
frame.head()

,unix,date,symbol,open,high,low,close,Volume BTT,Volume USDT,tradecount,...,Volume NEO,Volume EOS,Volume ETH,Volume QTUM,Volume ZEC,Volume DASH,Volume ADA,Volume LINK,Volume BNB,Volume LTC
0,1.610496e+12,2021-01-13 00:00:00,BTT/USDT,0.000353,0.000353,0.000350,0.000352,2.451996e+07,8.631707e+03,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.610410e+12,2021-01-12 00:00:00,BTT/USDT,0.000351,0.000374,0.000338,0.000353,8.455808e+09,3.011956e+06,20031.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.610323e+12,2021-01-11 00:00:00,BTT/USDT,0.000429,0.000433,0.000316,0.000350,1.139497e+10,4.024436e+06,25602.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.610237e+12,2021-01-10 00:00:00,BTT/USDT,0.000409,0.000455,0.000367,0.000429,1.744114e+10,7.137798e+06,41729.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.610150e+12,2021-01-09 00:00:00,BTT/USDT,0.000332,0.000535,0.000332,0.000409,5.561435e+10,2.381440e+07,105684.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN